<div class="col-3 content-message">
			<div class="search-user search-bar">
        		<input type="text" class="form-control" placeholder="Tìm kiếm..." style="height:30px;width:100%;">
        		<i class="ti-search"></i>
			</div>
			<div class="user-message">
				<img class="user-avatar user3" src="/img/avt.png" alt="">
				<span class="name-user"><b>Lê tuấn tài</b></span>
				<span class="description-user">Đang làm gì đó bé ?</span>
			</div>
			<div class="user-message">
				<img class="user-avatar user3" src="/img/avt.png" alt="">
				<span class="name-user"><b>Lê tuấn tài</b></span>
				<span class="description-user">Đang làm gì đó bé ?</span>
			</div>
			<div class="user-message">
				<img class="user-avatar user3" src="/img/avt.png" alt="">
				<span class="name-user"><b>Lê tuấn tài</b></span>
				<span class="description-user">Đang làm gì đó bé ?</span>
			</div>
			<div class="user-message">
				<img class="user-avatar user3" src="/img/avt.png" alt="">
				<span class="name-user"><b>Lê tuấn tài</b></span>
				<span class="description-user">Đang làm gì đó bé ?</span>
			</div>
		</div>