<div class="col-3 content-message">
	<div class="search-user search-bar">
		<input type="text" class="form-control" placeholder="Tìm kiếm..." style="height:30px; width:100%;">
		<i class="ti-search"></i>
	</div>
	<div class="message-scroll">

		<div class="user-message">
			<img class="user-avatar user3" src="{{dataimg.avtreciver}}" alt="">
			<span class="name-user"><b>{{dataimg.username}}</b></span>
			<span class="description-user">{{dataimg.text}}</span>
		</div>
		
	</div>
</div>