

<div class="col-1 cl1">
            <div class="sub-nav">
                <div>
              
                  <input type="image" name="submit" class="user-avatar user2" src="{{dataimg}}">
                   
                    
                   
                  </div>
                <div class="list-item2">
                    <ul>
                    <li><a href=""><i class="ti-home"></i></a></li>
                    <li><a href=""><i class="ti-comment-alt"></i></a></li>
                    <li><a href=""><i class="ti-user"></i></a></li>
                    <li><a href=""><i class="ti-bell"></i></a></li>
                </ul>
                </div>
                <div class="subnav-setting"><a href=""><i class="ti-settings"></i></a></div>
            </div>
        </div>