<div class="col-1 cl1">


    <div class="sub-nav">
        <div class="avatar">
          <a href="">
                    <img src="{{dataimg}}" class="user-avatar" >
                </a>
        </div>
        <div class="list-item2">
            <ul style="list-style-type: none;">
                
                <li><a href=""><i class="ti-home" ></i></a></li>
                <li><a href=""><i class="ti-comment-alt"></i></a></li>
                <li><a href=""><i class="ti-user"></i></a></li>
                <li><a href=""><i class="ti-bell"></i></a></li>
            </ul>
        </div>
        <div class="subnav-setting">
            <a href=""><i class="ti-settings">

            </i></a>
        
        </div>
    </div>
</div>