<div class="border-left">
	<div class="settings-tray" style="width: 100%;">
		  <img class="profile-image" src="img/avatar.png" alt="Profile img" style="margin: 10%;">
		  <span class="settings-tray--right">
			<div class="home" style="width: 100%;">
				<img src="img/home.png" alt="" style="margin: 30%;">
			</div>
			<div class="message" style="width: 100%;">
				<img src="img/message.png" alt="" style="margin: 30%;">
			</div>
			<div class="notification" style="width: 100%;">
				<img src="img/notification.png" alt="" style="margin: 30%;">
			</div>
			<div class="add-user" style="width: 100%;">
				<img src="img/add-user.png" alt="" style="margin: 30%;">
			</div>
			<div class="settings" style="width: 100%; margin-top: 400%;">
				<img src="img/settings.png" alt="" style="margin: 30%;">
			</div>
		  </span>
		</div>
</div>
<div></div>