
<subnav>
    {{!-- <div class="row">
        <div class="col-1">
            <div class="sub-nav">
                <div><img class="user-avatar user2" src="/img/avt.png" alt=""></div>
                <div class="list-item2">
                    <ul>
                    <li><a href=""><i class="ti-home"></i></a></li>
                    <li><a href=""><i class="ti-comment-alt"></i></a></li>
                    <li><a href=""><i class="ti-user"></i></a></li>
                    <li><a href=""><i class="ti-bell"></i></a></li>
                </ul>
                </div>
                <div class="subnav-setting"><a href=""><i class="ti-settings"></i></a></div>
            </div>
        </div>
        <div class="col-11 content-message"></div>
    </div> --}}
    <div class="row">
        <div class="col-1 cl1">
            <div class="sub-nav">
                <div><img class="user-avatar user2" src="/img/avt.png" alt=""></div>
                <div class="list-item2">
                    <ul>
                    <li><a href=""><i class="ti-home"></i></a></li>
                    <li><a href=""><i class="ti-comment-alt"></i></a></li>
                    <li><a href=""><i class="ti-user"></i></a></li>
                    <li><a href=""><i class="ti-bell"></i></a></li>
                </ul>
                </div>
                <div class="subnav-setting"><a href=""><i class="ti-settings"></i></a></div>
            </div>
        </div>
        <div class="col-3 content-message">
			<div class="search-user search-bar">
        		<input type="text" class="form-control" placeholder="Tìm kiếm..." style="height:30px;width:100%;">
        		<i class="ti-search"></i>
			</div>
			<div class="user-message">
				<img class="user-avatar user3" src="/img/avt.png" alt="">
				<span class="name-user"><b>Lê tuấn tài</b></span>
				<span class="description-user">Đang làm gì đó bé ?</span>
			</div>
			<div class="user-message">
				<img class="user-avatar user3" src="/img/avt.png" alt="">
				<span class="name-user"><b>Lê tuấn tài</b></span>
				<span class="description-user">Đang làm gì đó bé ?</span>
			</div>
			<div class="user-message">
				<img class="user-avatar user3" src="/img/avt.png" alt="">
				<span class="name-user"><b>Lê tuấn tài</b></span>
				<span class="description-user">Đang làm gì đó bé ?</span>
			</div>
			<div class="user-message">
				<img class="user-avatar user3" src="/img/avt.png" alt="">
				<span class="name-user"><b>Lê tuấn tài</b></span>
				<span class="description-user">Đang làm gì đó bé ?</span>
			</div>
		</div>
		<div class="col-5 main-messagetext">
			<div class="row r1">
				<img class="user-avatar user3 user4" src="/img/avt.png" alt="">
				<span class="name-user2"><b>Lê Tuấn Tài</b></span>
				<span class="online-status">Online 12 phút trước</span>
				<a href=""><i class="ti-headphone"></i></a>
				<a href=""><i class="ti-video-camera"></i></a>
			</div>
			<div class="row r2">
				<div class="mess">
					<img class="user-avatar user3 user4" src="/img/avt.png" alt="">
					<div class="text">
						<span>Em ăn kơm ckưa ?</span>
					</div>
					<div class="text2">
						<span>Em có bạn trai rồi :>> </span>
					</div>
				</div>
			</div>
			<div class="row r3">
				<ul class="list-item3">
					<li><a href=""><i class="ti-face-smile"></i></a></li>
					<li><a href=""><i class="ti-camera"></i></a></li>
					<li><a href=""><i class="ti-clip"></i></a></li>
				</ul>
				<input class="text-send" type="text"><i class="ti-angle-right"></i>
			</div>
		</div>
		<div class="col-3 cl3">
			<div class="information">
				<img class="user-avatar user5" src="/img/avt.png" alt="">
				<h3 class="name-info">Lê Tuấn Tài</h3>
				<ul class="list-info">
					<li><a href=""><i class="ti-user"></i></a></li>
					<li><a href=""><i class="ti-bell"></i></a></li>
					<li><a href=""><i class="ti-pin-alt"></i></a></li>
				</ul>
				<p class="txt1">Tùy chỉnh cuộc trò chuyện</p>
				<div class="schedue">
					<i class="ti-calendar"></i>
					<span style="padding-left: 5px;">Tạo lịch nhắc hẹn</span>
				</div>
				<div class="pin">
					<i style="font-size: 24px;" class="ti-clip"></i>
					<span style="padding-left: 5px;">Ghim tin nhắn</span>
				</div>
				<p class="txt2">File phương tiện, hình ảnh, liên kết</p>
				<div class="file">
					<div class="file-pic">
						<a href=""><img class="list-img" src="/img/avt.png" alt=""></a>
					</div>
					<div class="file-pic">
						<a href=""><img class="list-img" src="/img/avt.png" alt=""></a>
					</div>
					<div class="file-pic">
						<a href=""><img class="list-img" src="/img/avt.png" alt=""></a>
					</div>
				</div>
				<div class="file2">
					<div class="file-pic">
						<a href=""><img class="list-img" src="/img/avt.png" alt=""></a>
					</div>
					<div class="file-pic">
						<a href=""><img class="list-img" src="/img/avt.png" alt=""></a>
					</div>
					<div class="file-pic">
						<a href=""><img class="list-img" src="/img/avt.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
    </div>
</subnav>
